@import "../../../../../scss/variables/theme-vars";

.artwork-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: .8rem;
}

.single-image {
  width: 95%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  padding: .5rem;
}

.action-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
