.bg-translucent {
  background-color: rgba(0, 0, 0, 0.6);
}

.contain {
  width: 95%;
  height: 95%;
  margin: auto;
}

.w-85 {
  width: 85% !important;
}

.w-33 {
  width: 33% !important;
}

.text-large {
  font-size: 6rem;
}

.app-backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}

.cursor-pointer {
  cursor: pointer;
}
