@import "../variables/theme-vars";

.bg-translucent {
  background-color: rgba(0, 0, 0, 0.6);
}

.contain {
  width: 95%;
  height: 95%;
  margin: auto;
}

.w-85 {
  width: 85% !important;
}

.w-45 {
  width: 45% !important;
}

.w-33 {
  width: 33% !important;
}

.w-95 {
  width: 95% !important;
}

.text-large {
  font-size: 3rem;
}

.app-backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}

.cursor-pointer {
  cursor: pointer;
}

.d-none {
  display: none;
}

a.app-link {
  color: $primary;
  &:hover {
    color: darken($primary, 5%);
    transition: color .15s ease;
  }
}

.app-image {
  max-width: 100%;
}
