<section class="featured" #featured>
  <h1 class="test-accent text-uppercase">Featured Work</h1>
  <hr class="dropdown-divider w-85 mx-auto">
  <div class="featured-tabs">
    <button class="feat-tab art-tab" [class.active-feature]="currentType === 'art'"
            (click)="setFeaturedProjects('art')">
      <span class="text-large text-light">
        Art
      </span>
    </button>
    <button class="feat-tab web-tab" [class.active-feature]="currentType === 'web'"
            (click)="setFeaturedProjects('web')">
      <span class="text-large text-light">
        Web
      </span>
    </button>
  </div>
  <div class="w-100">
    <app-artwork-grid [artwork]="featuredProjects"></app-artwork-grid>
  </div>
</section>
