.web-section {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.web-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.75rem;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  min-height: 4rem;
}
