<header class="app-navigation">
  <mat-toolbar class="bg-translucent justify-content-around">
    <button appGhostButton color="accent" size="md">About Me</button>
    <button appGhostButton color="primary" size="md" routerLink="/web/home">Web</button>
    <button appGhostButton color="accent" size="md" routerLink="/home">Home</button>
    <button appGhostButton color="primary" size="md" routerLink="/art/home">Art</button>
    <button appGhostButton color="accent" size="md">Contact Me</button>
  </mat-toolbar>
</header>
