<header class="app-navigation">
  <mat-toolbar class="bg-translucent justify-content-around">
    <!--// TODO: Make this nav responsive-->
    <!--// REFACTOR: Fix this mess-->
    <button appGhostButton color="accent" size="md">About Me</button>
    <button appGhostButton color="primary" size="md" routerLink="/web/home">Web</button>
    <button appGhostButton color="accent" size="md" routerLink="/blog">Blog</button>
    <button appGhostButton color="primary" size="md" routerLink="/home">Home</button>
    <button appGhostButton color="accent" size="md" routerLink="/admin/dash">Admin</button>
    <button appGhostButton color="primary" size="md" routerLink="/art/home">Art</button>
    <button appGhostButton color="accent" size="md">Contact Me</button>
  </mat-toolbar>
</header>
