$warnPalette: (
  50 : #fde7e1,
  100 : #fbc4b4,
  200 : #f89d83,
  300 : #f57651,
  400 : #f3582b,
  500 : #f13b06,
  600 : #ef3505,
  700 : #ed2d04,
  800 : #eb2603,
  900 : #e71902,
  A100 : #ffffff,
  A200 : #ffddda,
  A400 : #ffaca7,
  A700 : #ff948e,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
