$accentPalette: (
  50 : #e2edf3,
  100 : #b6d1e0,
  200 : #86b3cc,
  300 : #5595b8,
  400 : #307ea8,
  500 : #0c6799,
  600 : #0a5f91,
  700 : #085486,
  800 : #064a7c,
  900 : #03396b,
  A100 : #9ac7ff,
  A200 : #67abff,
  A400 : #348fff,
  A700 : #1a81ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #ffffff,
  )
);
