$primaryPalette: (
  50 : #effbe1,
  100 : #d7f4b4,
  200 : #bced82,
  300 : #a1e550,
  400 : #8ce02b,
  500 : #78da05,
  600 : #70d604,
  700 : #65d004,
  800 : #5bcb03,
  900 : #48c201,
  A100 : #f1ffeb,
  A200 : #cdffb8,
  A400 : #a9ff85,
  A700 : #98ff6b,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

