@import "../../../../../../scss/variables/theme-vars";

.featured-content {
  position: absolute;
  left: 40px;
  bottom: -4rem;
  z-index: 60;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8), 0 0 1px rgba(0, 0, 0, 0.8);
  border-radius: 4px;
  width: 420px;
  max-height: 8rem;
}

.featured-image {
  margin: auto;
  z-index: 50;
  border-radius: 4px;
  transition: box-shadow .3s ease, transform .5s ease;
  box-shadow: 0 2px 4px rgba(darken($primary, 10%), 0.8), 0 0 1px rgba($primary, 0.8);
  &:hover {
    box-shadow: 0 2px 4px rgba($primary, 0.8), 0 0 1px rgba($primary, 0.8);
    cursor: pointer;
  }
}

.featured-card {
  max-width: 500px;
  height: 230px;
  padding: 0;
  margin: 0 1.2rem 8rem 1.2rem;
}
