@import "scss/themes/theme";
// Imports functions, variables, and mixins that are needed by other Bootstrap files
@import "scss/variables/bootstrap-override";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
// Import Roboot
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/utilities"; // add css utilities
@import "scss/themes/reset";


html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
