@import "scss/variables/theme-vars";
@import "scss/themes/theme";
// Imports functions, variables, and mixins that are needed by other Bootstrap files
@import "scss/variables/bootstrap-override";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
// Import Roboot
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/utilities"; // add css utilities
@import "scss/themes/reset";

// Components
@import "scss/components/all";

// Directives
@import "scss/directives/all";

// General
@import "scss/utils/all";


html, body, app-root, .app-frame {
  overflow: auto;
  margin: 0;
  height: 100%;
  box-sizing: border-box;
  color: #e0e0e0;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
