<!--<app-navigation></app-navigation>-->
<section class="art-section">
  <mat-toolbar class="art-header w-75 mx-auto">
    <h1>Artwork</h1>
    <nav class="art-nav">
      <button appGhostButton>Categories</button>
      <button appGhostButton routerLink="/art/type/featured" routerLinkActive="activeButton">Featured</button>
      <button appGhostButton routerLink="/art/type/all" routerLinkActive="activeButton">All Art</button>
    </nav>
  </mat-toolbar>
  <div class="mx-auto">
    <router-outlet></router-outlet>
  </div>
</section>
